.about-container{
    background-color: #2f65ad;
    
    color:white;
}

/* .about-logo{
    width: 10px;
    height: 30px;
    top: -130px;
}
@media (max-width:640px){
    .about-logo{
        width: 40px;
        height: 40px;
    }
} */